body {
    background-image: url(cod.gif);
    background-size: cover;
}

.container {
    display: flex;
    border-radius: 8px;
    background-color: black;
    margin: 80px auto;
    border: 5px solid rgb(70, 141, 235);
    border-style: double;
    color: rgb(255, 255, 255);
    flex-direction: column;
    height: 60vh;
    padding: 20px;
    width: 30%;
}

#titulo{
    color: rgb(70, 141, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}

#formulario{
    align-items: left;
    color: rgb(70, 141, 235);
    display: flex;
    flex-direction: column;
    font-family: Georgia, Times, serif;
    font-size: 18px;
}

#messagetext, #incremento{
   margin-left: 10px;
}

#incremento{
    flex-direction: row;
    margin: 10px;
}

#message{
    background-color:rgb(133, 174, 228);
    margin: 10px;
    border-radius: 5px;
    outline: none;
    text-align: left;
}

select, #numIncremento{
    margin-left: 10px;
    background-color: rgb(133, 174, 228);
    height: 20px;
    border-radius: 5px;
    outline: none;
}

#numIncremento{
    width: 10%;
}

.caixa1{
    margin: 20px auto;
    display: flex;
    flex-direction: row;   
}

.caixa3 span{
    margin-top: 0px;
    margin-left: 80px;
}

/*#codificar, #decodificar:checked{
    background-color: rgb(147, 185, 235)l;
    transform: scale(1.50);

}*/

.caixa4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    background: rgb(70, 141, 235);
    border-radius: 5px;
    border: none;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    height: 35px;
}

button:hover{
    transform: scale(1.05);
    background:rgb(14, 72, 148);

}

#response{
    background-color:rgb(133, 174, 228);
    margin: 20px 10px;
    border-radius: 5px;
    outline: none;
    width: 95%
}
